.home{
    .map{
        width: 225px;
        height: 140px;
        position: fixed;
        left: 50px;
        bottom: 33px;
        &__now{
            position: absolute;
            bottom: 58px;
            left: 2px;
        }
    }
    .section01{
        width: 100%;
    }
}