.home{
    .section01{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .logo{
            width: 200px;
            position: fixed;
            left: 50px;
            top: 50px;
            opacity: 0;
        }
        .map{
            width: 225px;
            height: 140px;
            position: fixed;
            left: 50px;
            bottom: 33px;
            &__now{
                position: absolute;
                bottom: 58px;
                left: 2px;
            }
        }
        .user{
            display: block;
            width: 80px;
            height: 80px;
            position: fixed;
            top: 30px;
            right: 20px;
            background-image: url(../img/btn/btn_user.png);
            background-size: 100% 100%;
            z-index: 3;
            &:hover{
                background-image: url(../img/btn/btn_user_h.png);
            }
            &.mouseOn{
                background-image: url(../img/btn/btn_user_p.png);
            }
        }
        .join{
            position: fixed;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 3;
            span{
                color: var(--primary-default);
                font-size: 24px;
                font-family: "源柔ゴシックP-bold";
                margin-bottom: 4px;
            }
            img{
                height: 71px;
                margin-bottom: 4px;
            }
            &__btn{
                width: 103px;
                height: 60px;
                background-image: url(../img/btn/btn_join.png);
                background-size: 100% auto;
                &:hover{
                    background-image: url(../img//btn/btn_join_h.png);
                }
            }
        }
        .trafficLight{
            width: 275px;
            height: 153px;
            position: fixed;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            z-index: -1;
            &__text{
                height: 45px;
                display: inline-block;
                width: 240px;
                position: relative;
                &__h4{
                    color: #FF5136;
                    display: inline-block;
                    width: 240px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    position: absolute;
                    &-ready{
                        opacity: 1;
                    }
                    &-go{
                        opacity: 0;
                    }
                }
            }
            &__ready-frame{
                max-width: 100%;
                z-index: 2;
                position: relative;
            }
            &__ready-1{
                position: absolute;
                width: 50px;
                right: 62px;
                bottom: 27px;
                opacity: 1;
            }
            &__ready-2{
                position: absolute;
                width: 50px;
                right: 124px;
                bottom: 27px;
                opacity: 1;
            }
            &__ready-3{
                position: absolute;
                width: 50px;
                right: 190px;
                bottom: 27px;
            }
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
        &__logo{
            width: 680px;
            height: 236px;
            margin-top: 44px;
            position: fixed;
            z-index: 3;
            img{
                width: 100%;
            }
        }
        &__title{
            display: inline-block;
            border-radius: 100px;
            padding: 8px 40px;
            background-color: #FF5136;
            color: #fff; 
            margin-top: -10px;
            position: fixed;
            z-index: 3;
            top: 286px;
        }
        &__ul{
            width: 1440px;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            z-index: -1;
            top: 37%;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                h5{
                    color: var(--primary-default);
                    margin-bottom: 8px;
                }
                div{
                    display: flex;
                    align-items: center;
                    background-color: var(--primary-default);
                    border-radius: 40px;
                    padding: 4px 28px;
                    justify-content: center;
                    img{
                        width: 24px;
                        margin-right: 14px;
                    }
                    span{
                        color: #fff;
                        display: inline-block;
                        font-family: '源柔ゴシックP-bold';
                        line-height: 34px;
                    }
                }
            }
        }
        &__running{
            width: 100%;
            &__decorate{
                width: 1687px;
                height: 280px;
                position: fixed;
                top: 42%;
                left: 50%;
                transform: translate(-50%);
                display: flex;
                align-items: center;
                justify-content: space-between;
                opacity: 1;
                z-index: -2;
                transition: .3s;
                &__left{
                    width: 430px;
                }
                &__right{
                    width: 485px;
                }
            }
            &__start{
                max-width: 1430px;
                height: auto;
                position: fixed;
                bottom: -140px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -2;
            }
            &__road{
                max-width: 1175px;
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &__item{
                width: 860px;
                height: 500px;
                position: fixed;
                left: 50%;
                transform: translateX(-50%);
                transform-origin:430px 500px;
                bottom: 0;
                &__character-f2e{
                    width: 280px;
                }
                &__character-ui{
                    width: 300px;
                }
                &__character-team{
                    width: 280px;
                }
            }
            &__grass{
                width: 1150px;
                position: fixed;
                display: flex;
                bottom: -134px;
                left: 50%;
                transform: translateX(-50%);
                justify-content: space-between;
                z-index: -1;
                img{
                    width: 170px;
                }
                &__left{
                    transform: rotateY(180deg);
                }
            }
        }
    }
    .section02{
        width: 100%;
        height: 100vh;
    }
    .section03{
        width: 100%;
        height: 300vh;
        padding-top: 40px;
        h2{
            display: block;
            position: fixed;
            background-image: url(../img/bg/bg_talking.png);
            width: 720px;
            height: 151px;
            background-size: 720px 100%;
            background-repeat: no-repeat;
            background-position: center;
            line-height: 123px;
            opacity: 0;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__content{
            width: 1440px;
            position: fixed;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            &__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                &-left{
                    left: 0;
                }
                &-middle{
                    left: 50%;
                    transform: translateX(-50%);
                }
                &-right{
                    right: 0;
                }
                h4{
                    color: #FF5136;
                    line-height: 44px;
                }
                img{
                    width: 466px;
                }
            }
        }
    }
}