$primary-default:#007FAB;
$primary-dark:#003A4F;
$primary-tint: #B0D2DE;
$secondary-default: #FFC37D;
$secondary-dark: #A46039;
$secondary-tint: #FFE2A9;
.sideBar{
    height: 100vh;
    width: auto;
    position: fixed;
    display: flex;
    z-index: 99;
    &__menu{
        background-color: var(--primary-default);
        width: 0;
        transition: all 0.3s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            margin-bottom: 40px;
            img{
                width: 60px;
                height: 60px;
                margin-bottom: 4px;
                &.img01{
                    display: block;
                }
                &.img02{
                    display: none;
                }
            }
            span{
                color: var(--secondary-default);
                font-size: 18px;
                white-space: nowrap;
            }
            &:hover{
                .img01{
                    display: none;
                }
                .img02{
                    display: block;
                }
                span{
                    color: var(--secondary-tint);
                }
            }
        }
    }
    &__tab{
        width: 60px;
        background-image: url(../img/bg/bg_menuSide.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px 100%;
        height: 100%;
        position: relative;
        &__icon{
            width: 60px;
            height: 66px;
            background-image: url(../img/btn/btn_burger_open.png);
            background-size: 100% auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 19px;
            cursor: url('../img/cursor/cursor.svg'),pointer;
            &:hover{
                background-image: url(../img/btn/btn_burger_open_h.png);
            }
            &.mouseOn{
                background-image: url(../img/btn/btn_burger_open_p.png);
            }
        }
    }
    &.active{
        .sideBar__menu{
            width: 135px;
            &__item{
                display: flex;
            }
        };
        .sideBar__tab__icon{
            background-image: url(../img/btn/btn_burger_close.png);
            &:hover{
                background-image: url(../img/btn/btn_burger_close_h.png);
            }
            &.mouseOn{
                background-image: url(../img/btn/btn_burger_close_p.png);
            }
        }
    }
}